*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 234, 210);
    background-size: cover;
}

header{
    height: auto;
    width: 100%;
    background-color: rgb(173, 193, 120);
    text-align: center;
    margin-top: 2px;
}

header h1 a{
    font-size: 64px;
    color: black;
    text-decoration: none;
    font-weight: 400;
}

header h1 a:hover{
    background-color: rgb(221, 229, 182);
    border: 2px;
    border-radius: 12px;
    border-style: groove;
}

main h2{
    font-size: 48px;
    color: black;
    font-weight: 400;
    text-align: center;
    margin: 24px;
}

#hero{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin: 50px;
}

main ul{
    list-style: none;
}

main ul a{
    font-size: 36px;
    color: black;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
}

.padre{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hijo{
    margin: 24px;
}

main p{
    font-size: 36px;
    color: black;
    font-weight: 300;
    text-align: center;
    margin: 24px;
}

#museum{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 50px;
}

.photo{
    width: 500px;
    height: 500px;
}

.form{
    width: 500px;
    background-color: white;
    padding: 24px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 12px;
    text-align: center;
}

.box{
    margin: 12px;
    text-align: left;
}

.button{
    margin: 12px;
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

footer{
    height: auto;
    width: 100%;
    background-color: rgb(221, 229, 182);
    text-align: center;
    bottom: 0;
    margin-top: 24px;
}

footer h3 a{
    font-size: 36px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    margin: 50px;
}

@media (max-width:480px){
    header h1 a{
        font-size: 45px;
        color: black;
        text-decoration: none;
        font-weight: 400;
    }
    
    main h2{
        font-size: 30px;
        color: black;
        font-weight: 400;
        text-align: center;
        margin: 24px;
    }
    
    main ul a{
        font-size: 25px;
        color: black;
        text-decoration: none;
        font-weight: 300;
        text-align: center;
    }

    main p{
        font-size: 25px;
        color: black;
        font-weight: 300;
        text-align: center;
    }
    
    #museum{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        margin: auto;
    }

    .photo{
        width: 350px;
        height: 350px;
        margin-top: 50px;
    }

    .form{
        width: 400px;
        background-color: white;
        padding: 24px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 12px;
        text-align: center;
    }

    .box{
        margin: 12px;
        text-align: left;
        margin-left: auto;
    }

    .button{
        margin: 12px;
        margin-left: auto;
    }

    footer h3 a{
        font-size: 25px;
        color: black;
        text-decoration: none;
        font-weight: 400;
        margin: 50px;
    }
}